<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJqWkPmGXGDTjEA-mJRztU_A-7echIQ8E</string>
	<key>GCM_SENDER_ID</key>
	<string>299645351864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.runningApp</string>
	<key>PROJECT_ID</key>
	<string>runningapp-ee9d9</string>
	<key>STORAGE_BUCKET</key>
	<string>runningapp-ee9d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299645351864:ios:0b8ebbb994afeacefd414d</string>
	<key>DATABASE_URL</key>
	<string>https://runningapp-ee9d9-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>